.itens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .itens {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .itens {
    grid-template-columns: repeat(1, 1fr);
  }
}
