.item {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  transition: 0.2s ease-in;
  gap: 10px;
}

.item:hover {
  background-color: #e4e4e4;
}

.itemImg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.itemImg img {
  border-radius: 8px;
  width: 100%;
  height: 400px;
  max-width: 400px;
}

.itemInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemInfo h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.itemInfo p {
  color: #70707b;
  font-size: 1.3rem;
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 20px;
}

.itemBuy {
  display: flex;
  justify-content: flex-start;
}

.itemBuy p {
  color: #d73b3b;
  font-size: 1.7rem;
}
